body {
  font-family: 'Love Ya Like A Sister', cursive;
    font-size: 18px;
    line-height: 34px;
    background: url("../images/beach.jpg");
    text-align: center;
  }
  
  h1, #guesses {
    color: #FFD154;
    text-shadow:
    0px 0px 2px #A63A50,
    0px 1px 1px #FEFFF9,
    1px 2px 4px #21507E;
  }

  h3 {
    color: #5BC0EB;
    text-shadow:
    0px 1px 0px #FFD154,
    1px 1px 2px #A63A50,
    1px 3px 4px #21507E;
  }

#winCount {
  background-color: #FEFFF9;
  color:#A63A50;
  text-shadow:
    1px 1px 0px #21507E,
    0px 2px 1px #5BC0EB;
  border-radius: 250px;
  border-left: 20px solid #A63A50;
  border-right: 20px solid #21507E;
  border-top: 2px solid #FFD154;
  border-bottom: 2px solid #FFD154;
  padding: 3%;
  box-shadow: 1px 4px 8px #21507E;
}
#guesses {
  background-color: #5BC0EB;
    box-shadow: #A63A50 inset 2px 1px 1px 0px,
     #21507E inset 0px 2px 2px 3px;
    border-radius: 15px;
    opacity: .8;
    text-align: left;
    padding: 10px;
}
.row {
  margin-top: 70px;
}